# 데이터 확인

In [1]:
import pandas as pd
df = pd.read_excel('score.xlsx', index_col='지원번호')
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

## DataFrame 확인
계산 가능한 데이터에 대해 Column 별로 데이터의 갯수, 평균, 표준편차, 최소/최대값 등의 정보를 보여줌

In [1]:
#df.describe()

In [2]:
#df.info()

In [3]:
#df.head() #처음 5개의 row를 가져옴

In [4]:
#df.head(7) #처음 7개의 row를 가져옴

In [5]:
#df.tail() #마지막 5개 row를 가져옴

In [6]:
#df.values

In [7]:
#df.index

In [8]:
#df.columns

In [9]:
#df.shape # row, column

In [10]:
#df

## Series 확인

In [11]:
#df['키'].describe()

In [12]:
#df['키'].min()

In [13]:
#df['키'].max()

In [14]:
#df['키'].nlargest(3) #키 큰 순서서대로 3명 나열

In [15]:
#df['키'].mean()

In [16]:
#df['키'].sum()

In [17]:
#df['SW특기'].count() #유효한 데이터의 개수

In [18]:
#df['학교'].unique()

In [19]:
#df['학교'].nunique()